[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acubed = {file = ".", editable = true}
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
ipykernel = "*"
matplotlib = "*"
numpy = "*"
onnxruntime = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"
requests_toolbelt = "*"
scikit-learn = "*"
seaborn = "*"
skl2onnx = "*"
sktime = "*"

[dev-packages]
click = "*"
coverage = "*"
mypy = "*"
pandas-stubs = "*"
pylint = "*"
sphinx = "*"
types-httplib2 = "*"
types-requests = "*"

[requires]
python_version = "3.10"
